<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
    content="Estates Responsive web template, Bootstrap Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <title>Doctor - Home </title>
  <link href="//fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/doctor_home/assets/css/style-starter.css">
</head>

<body>
  <!--header-->
  <div class="header-w3l">
    <!-- header -->
    <header id="site-header" class="fixed-top">
      <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand pr-lg-5" href="#">
            <img src="assets/images/logo.png" alt="" class="img-fluid">Doctor
          </a>

          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
            <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-lg-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="services.html"></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="contact.html"></a>
              </li>
              <li class="search-bar ml-lg-4 mt-lg-0 mt-4">
                <!--/search-right-->
                <form class="search position-relative">
                  <input type="search" class="search__input" name="search" placeholder="Search here.."
                    onload="equalWidth()" required="">
                  <span class="fa fa-search search__icon"></span>
                </form>

                <!--//search-right-->
              </li>

            </ul>
            <ul class="navbar-nav search-right mt-lg-0 mt-2">
              <li class="mx-3">
                <a href="/myapp/login/" class="btn btn-style btn-primary">Logout</a>
              </li>

            </ul>
          </div>

        </nav>
      </div>
    </header>
    <!-- //header -->
  </div>
  <section class="w3l-banner py-5" id="banner">
    <div class="midd-w3 py-lg-5 py-md-4">
      <div class="container py-lg-2">
        <div class="row">
          <div class="col-lg-6 banner-content align-self pr-lg-5">
            <h5 class="title-subhny mb-2">Welcome ! </h5>
            <h3 class="">Doctor</h3>

          </div>
          <div class="col-lg-6 text-center mt-lg-0 mt-md-5 mt-4">
            <div class="image-block position-relative">
              <img src="assets/images/1.png" alt="" class="img-fluid mt-lg-0 mt-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /bottom-grids-->
  <section class="w3l-bottom-grids-6 py-5" id="services">
    <div class="container py-lg-5 py-md-4 py-2">

                    {% block body %}


                    {% endblock %}


    </div>
  </section>

  <!-- footer17 -->
  <section class="footer-17">
    <div class="footer17_sur py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="footer17-top">

        </div>
      </div>
      <div class="copyright text-center">
        <div class="container">
          <p class="copy-footer-29">Hamzathul Favas E
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </div>
  </section>
  <!-- //footer17 -->

  <!-- Template JavaScript -->
  <script src="/static/doctor_home/assets/js/jquery-3.3.1.min.js"></script>

  <script src="/static/doctor_home/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->
  <!-- owlcarousel -->
  <script src="/static/doctor_home/assets/js/owl.carousel.js"></script>
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 3,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->

  <!-- script for tesimonials agency carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-agency").owlCarousel({
        loop: true,
        nav: false,
        margin: 50,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials agency carousel slider -->
  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="/static/doctor_home/assets/js/bootstrap.min.js"></script>

</body>

</html>